<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Products - Revel eCommerce', 'none')" />
</head>

<body class="inner">
    <!-- preloader begin -->
    <div class="preloader">
        <img th:src="@{/images/loader.gif}" alt="Gif">
    </div>
    <!-- preloader end -->
 
    <!--------------------------------- HEADER SECTION START --------------------------------->
    <span th:replace="top_header2:: top_header2"></span>
    <!--------------------------------- HEADER SECTION END --------------------------------->

    <!--------------------------------- BANNER SECTION START --------------------------------->
     <!--------------------------------- ACCOUNT START --------------------------------->
    <div class="account py-120">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4">
                    <div class="account-sidebar">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--------------------------------- ACCOUNT END --------------------------------->
    <!--------------------------------- BANNER SECTION END --------------------------------->

    <!--------------------------------- FEATURES SECTION START --------------------------------->
   <span th:replace="homepage/feature_section :: content">Feature Section</span>
    <!--------------------------------- FEATURES SECTION END --------------------------------->


    <!--------------------------------- FOOTER SECTION START --------------------------------->
   <span th:replace="footer:: footer"></span>
    <!--------------------------------- FOOTER SECTION END --------------------------------->
	<script type="text/javascript">
    moduleURL = "[[@{/products}]]";
	entityName = "product";
	
    var csrfHeaderName = "[[${_csrf.headerName}]]";
	var csrfValue = "[[${_csrf.token}]]";

	$(document).ready(function(){
		handleDefaultDetailLinkClick();
	});  
	
	contextPath = "[[@{/}]]";
	
</script>
    <script th:src="@{/vendor/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/vendor/js/jquery.nice-select.min.js}"></script>
    <script th:src="@{/vendor/js/jquery.flagstrap.min.js}"></script>
    <script th:src="@{/vendor/js/slick.min.js}"></script>
    <script th:src="@{/vendor/js/owl.carousel.min.js}"></script>
    <script th:src="@{/vendor/js/jquery.syotimer.min.js}"></script>
    <script th:src="@{/vendor/js/jquery-modal-video.min.js}"></script>
    <script th:src="@{/vendor/js/nouislider.min.js}"></script>
    <script th:src="@{/vendor/js/jquery-ui.min.js}"></script>
    <script th:src="@{/vendor/js/MonthPicker.min.js}"></script>
    <script th:src="@{/vendor/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
     <script th:src="@{/js/common_form.js}"></script>
    <script th:src="@{/js/common_list.js}"></script>
    <script th:src="@{/js/common_modal.js}"></script>
    <script>
    </script>
</body>

</html>